header.header#header
  .language
    span#switcher-es.lang-switcher.lang-switcher--es ES
    span#switcher-en.lang-switcher.lang-switcher--en EN
    span#switcher-ru.lang-switcher.lang-switcher--ru RU
  .contacts__box
    ul.contacts
      li.contacts__item
        a.contacts__link.contacts__link_tel(href='tel://675371987')
          svg#Layer_1(height='38px', style='enable-background:new 0 0 256 256;', version='1.1', viewbox='0 0 256 256', width='38px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            style(type='text/css').
              .st0{fill:orange;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            path.st0(d='M228.649,174.606c27.113-54.57,3.489-120.595-48.607-144.013C129.178,7.728,68.497,32.522,44.388,81.884  c-24.441,50.042-5.511,113.729,44.214,139.386c77.956,39.643,130.727-27.393,131.525-31.152')
            path.st0(d='M142.285,134.396c4.54-3.892,11.745-8.286,11.313-10.665c-0.432-2.378-4.904-7.198-13.042-7.712  c-0.961-0.061-15.523-0.691-22.198,9.945c-5.438,8.665-3.031,18.573,2.378,25.366c6.589,8.274,19.269,10.46,29.403,4.898  c18.701-13.08,8.253-26.589,9.442-29.615c9.296-14.702,37.328-11.242,39.49-12.756c2.162-1.513,3.892-16.107,2.378-18.809  s-29.591-24.071-66.082-22.701C104.651,73.5,81.21,90.832,78.939,93.967c-2.27,3.135-3.892,20.755-1.73,22.052  s29.295,1.405,31.349-0.216c2.054-1.621-2.702-16.972-0.865-20.107c1.838-3.135,15.898-6.736,29.187-7.135  c15.377-0.462,31.457,4.324,33.079,6.918c1.622,2.594-1.73,14.053-1.081,16.431c0.649,2.378,20.826,32.322,20.178,46.483  c-0.649,14.161-5.73,19.566-7.567,20.323c-1.837,0.757-85.756,1.189-87.918-0.432c-2.162-1.622-5.189-13.513-4.757-23.133  s7.253-24.573,10.952-31.565')


      li.contacts__item
        a.contacts__link.contacts__link_vk(href='http://vk.com/apavlin', target='_blank')
          svg#Layer_1(height='38px', style='enable-background:new 0 0 256 256;', version='1.1', viewbox='0 0 256 256', width='38px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            style(type='text/css').
              .st0{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            path.st0(d='M137.547,232.778c60.681-5.55,104.493-60.302,97.096-116.939c-7.222-55.297-60.168-93.947-114.839-88.571  c-55.424,5.449-99.709,54.979-95.462,110.772c7.153,87.164,91.909,96.916,95.528,95.623')
            path.st0(d='M100.607,102.304c-0.31-2.259,6.768-4.733,13.114-5.671c11.549-1.707,21.221,3.19,21.974,6.025  c0.753,2.836-0.797,30.834,3.899,31.19c4.696,0.355,18.165-29.949,21.266-32.608c3.101-2.658,31.544-1.861,31.544,1.063  s-24.145,30.879-24.101,35.443c0.044,4.563,28,28.398,25.519,31.899c-2.481,3.5-32.271,3.64-33.671,2.481  c-1.4-1.159-12.626-18.031-18.43-17.013c-5.804,1.019-1.817,16.746-3.544,18.785s-11.608,1.595-19.494,0.355  c-41.911-7.886-67.076-70.443-64.86-73.721c2.215-3.278,27.912-1.595,30.481,0.355s12.671,38.633,24.101,35.443  c3.057-1.462,1.772-26.228,1.772-26.228')

      li.contacts__item
        a.contacts__link.contacts__link_skype(href='https://www.instagram.com/apavlin', target='_blank')
          svg#Layer_1(height='38px', style='enable-background:new 0 0 256 256;', version='1.1', viewbox='0 0 256 256', width='38px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            style(type='text/css').
              .st0{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            path.st0(d='M188.607,124.506c0.337,14.371,1.113,35.523-0.607,41.494c-1.721,5.971-7.793,11.639-12.954,13.966  c-5.161,2.328-73.88,1.012-77.524,0s-9.109-8.805-10.323-11.639c-1.214-2.834-0.607-72.059,0.81-77.827  c1.417-5.769,6.376-9.109,10.93-11.133c4.554-2.024,53.572-1.214,62.545-0.81c8.974,0.405,16.935,4.858,17.61,11.537  c0.675,6.68-3.982,9.378-9.514,8.906c-5.532-0.472-9.226-5.708-6.064-9.702c3.163-3.994,20.837-4.973,23.267,0.189  c2.431,5.162,2.529,17.624-0.81,20.653c-3.338,3.029-25.199-1.098-28.551,0.192c-3.352,1.29,13.271,14.273,2.416,34.204  c-7.113,11.467-22.672,16.821-35.043,10.317c-13.571-7.136-15.656-24.498-10.981-35.637c0.581-1.385,6.121-14.255,19.128-16.016  c7.639-1.034,22.265,2.277,17.205,6.831c-5.06,4.554-46.15-1.113-56.068,0.911')
            //- path#skype.st0(d='M158.316,183.046c12.69,6.133,27.371,4.533,36.681-3.85c12.176-10.964,13.701-32.216,1.013-47.219  c0.49-3.405,3.662-28.335-13.983-47.016c-15.978-16.916-42.448-21.746-65.863-11.551c-13.034-7.656-29.198-5.775-38.91,3.85  c-11.604,11.5-12.002,32.077,0.811,45.395c-0.376,2.676-3.614,29.004,16.415,48.232c17.487,16.787,39.483,15.467,42.963,15.199')
            path.st0(d='M108.728,29.947c-58.154,18.195-89.464,80.941-70.314,134.753c18.697,52.539,78.59,79.182,130.905,62.423  c53.036-16.99,85.907-74.73,70.015-128.38c-25.335-83.707-110.245-75.405-113.511-73.379')

      li.contacts__item
        a.contacts__link.contacts__link_fb(href='https://www.facebook.com/apavlin82', target='_blank')
          svg#Layer_1(height='38px', style='enable-background:new 0 0 256 256;', version='1.1', viewbox='0 0 256 256', width='38px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            style(type='text/css').
              .st0{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            g
              path.st0(d='M118.489,204.01c0.668-30.724-0.583-59.627-0.514-61.433c0.099-2.572-16.945,1.061-19.046-1.053   c-2.101-2.114-3.309-18.205-0.521-19.591s15.355,1.129,18.007-0.526c2.652-1.655-11.513-55.269,46.601-43.421   c1.589,0.795-0.132,18.732-1.059,20.122c-0.927,1.39-12.708-1.787-19.062,3.177c-6.354,4.964-3.707,18.664-2.383,19.591   c1.324,0.927,20.188,0.198,21.445,1.589s1.456,18.798,0,20.122c-1.456,1.324-20.819-2.41-22.769-1.058   c-1.606,1.113,4.224,60.038,2.558,62.373c-1.666,2.335-7.731,2.133-11.56,2.226')
              path.st0(d='M136.577,243.358c60.912-1.648,108.145-53.478,104.395-110.472c-3.662-55.647-54.02-97.612-108.923-95.753   C76.39,39.017,29.02,85.605,29.68,141.555c1.549,87.443,85.505,102.61,89.2,101.551')

      li.contacts__item
        a.contacts__link.contacts__link_email(href='mailto:photo@bypablo.ru')
          svg#Layer_1(height='38px', style='enable-background:new 0 0 256 256;', version='1.1', viewbox='0 0 256 256', width='38px', xml:space='preserve', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
            style(type='text/css').
              .st0{fill:none;stroke:#000000;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            path.st0(d='M90.122,111.336c4.814,10.698,40.475,41.901,43.863,42.08s58.662-49.39,57.057-52.778  S79.246,96.18,76.214,99.568c-3.031,3.388-1.962,78.097,0.713,80.237s111.083,2.318,113.401-1.426  c2.318-3.744,4.814-57.414,1.783-60.623')
            path.st0(d='M108.268,237.352c59.036,15.089,118.653-21.832,130.648-77.676c11.711-54.524-25.236-108.671-78.551-121.912  C106.315,24.34,48.002,56.183,33.321,110.176c-22.447,84.527,54.151,122.097,57.994,122.09')
  .colorSwither
    .colorSwither-white.es(lang='es') blanco
    .colorSwither-or.es(lang='es') o
    .colorSwither-black.es(lang='es') negro
    .colorSwither-white.en(lang='en') white
    .colorSwither-or.en(lang='en') or
    .colorSwither-black.en(lang='en') black
    .colorSwither-white.ru(lang='ru') белый
    .colorSwither-or.ru(lang='ru') или
    .colorSwither-black.ru(lang='ru') чёрный