nav.nav
  .open
    span.cls
    span
      ul.sub-menu
        li
          a(href='index.html', title='photo') Фотосъемка недвижимости
        li
          a(href='#web', title='web') Видео&#8209;ролики
        li
          a(href='#web', title='web') Web&#8209;сайты
        li
          a(href='#jobs', title='jobs') Обо мне
    span.cls