html
  body
    nav.nav
      input#menu-cb.nav__cb(type='checkbox')
      .nav__content
        ul.nav__items
          li.nav__item
            span.nav__item-text
              | Фото&#8209;работы
          li.nav__item
            span.nav__item-text
              | Web&#8209;сайты
          li.nav__item
            span.nav__item-text
              | Обо мне
      label.nav__btn(for='menu-cb')
