html, body {
  // height: 100%;
  margin: 0;
  padding: 0;
transition: all 0.3s ease;
  // background:rgb(20,20,20);
  // color: white;
  // background-image: url('/img/light_wool.png');
  // background-attachment: fixed;
}


body, *, *:after,*:before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

a{
    text-decoration: none;
}


// .wrapper {
//   min-height: 100%;
//   height: auto!important;
//   position: relative;
// }

@mixin mediaMaxWidth($w) {
  @media (max-width: $w) {
    @content;
  }
}