-
    var flatList = [
    {   number: "01.",
        titleEN: "One-room flat",
        titleES: "Apartamento de una sola habitación",
        titleRU: "Однокомнатная квартира",
        descriptionEN: 'Viewing the photos that I took, it is easy to imagine what the whole apartment looks like.',
        descriptionES: 'Contemplando las imágenes fotográficas que yo tomé es fácil imaginarse que aspecto tiene una pieza íntegramente.',
        descriptionRU: 'Глядя на фотографии, сделанные мной, легко представить, как выглядит вся квартира.',
        imagesize: '2500x1667',
        images: ['flat1-4.jpg', 'flat1-2.jpg', 'flat1-5.jpg', 'flat1-1.jpg', 'flat1-9.jpg',  'flat1-3.jpg', 'flat1-7.jpg', 'flat1-6.jpg', 'flat1-8.jpg',   ]
    },
    {   number: "02.",
        titleEN: "Two-room flat",
        titleES: "Piso de un dormitorio y un salón",
        titleRU: "Двухкомнатная квартира",
        descriptionEN: 'I do the optimal number of photos for each room. At the same time, your wishes are all taken into consideration.',
        descriptionES: 'Hago las fotos de cada pieza en cantidad más apropiada. Al mismo tiempo sus deseos obligatoriamente serán tomados en cuenta.',
        descriptionRU: "Я делаю оптимальное количество фотографий для каждого помещения. При этом ваши пожелания обязательно будут учтены.",
        imagesize: '2500x1667',
        images: [ 'flat2-2.jpg', 'flat2-3.jpg', 'flat2-4.jpg', 'flat2-5.jpg', 'flat2-6.jpg', 'flat2-7.jpg', 'flat2-8.jpg','flat2-10.jpg','flat2-9.jpg',  'flat2-1.jpg', 'flat2-11.jpg', 'flat2-12.jpg' ]
    },
    {   number: "03.",
        titleEN: "Studio apartment",
        titleES: "Estudio",
        titleRU: "Однокомнатная студия",
        descriptionEN: 'You receive high-quality and detailed images. You can easily check by clicking on the photo and increasing it.',
        descriptionES: 'Vosotros podréis haber las imágenes fotográficas detalladas de alta calidad. Es muy fácil convencerse en eso clickeando la imagen fotográfica y aumentando la misma.',
        descriptionRU: "Вы получите качественные и детализированные снимки. В этом легко убедиться, нажав на фото и увеличив его.",
        imagesize: '2500x1667',
        images: ['flat3-1.jpg',  'flat3-3.jpg', 'flat3-4.jpg', 'flat3-5.jpg', 'flat3-6.jpg', 'flat3-2.jpg' ]
    },
    {   number: "04.",
        titleEN: "Studio apartment",
        titleES: "Estudio",
        titleRU: "Однокомнатная студия",
        descriptionEN: 'I have all necessary equipment to take pictures of a room from the most proper angles for it.',
        descriptionES: 'Tengo todo el equipo necesario par tomar fotos desde los mas apropiados ángulos ventajosos para par la pieza.',
        descriptionRU: "У меня есть все необходимое оборудование для того, чтобы фотографировать помещение с самых правильных для него ракурсов.",
        imagesize: '2500x1667',
        images: ['flat4-1.jpg', 'flat4-2.jpg', 'flat4-5.jpg', 'flat4-3.jpg',  'flat4-7.jpg', 'flat4-8.jpg' ]
    },
    {   number: "05.",
        titleEN: "Two-room flat",
        titleES: "Piso de un dormitorio y un salón",
        titleRU: "Двухкомнатная квартира",
        descriptionEN: 'It is a pleasure to look at a room which is clean and in order, so I give tips how to prepare the apartment for shooting.',
        descriptionES: 'Hago en modo que en la imagen haya lo menos posible cosas excedentes. Es más agradable contemplar el “orden”.',
        descriptionRU: 'Я делаю так, чтобы в кадре находилось как можно меньше лишних вещей. На "порядок" смотреть приятнее',
        imagesize: '2500x1667',
        images: ['flat5-1.jpg', 'flat5-2.jpg', 'flat5-3.jpg',  'flat5-5.jpg', 'flat5-6.jpg', 'flat5-8.jpg', 'flat5-7.jpg',  'flat5-9.jpg' ]
    },
    {   number: "06.",
        titleEN: "One-room flat",
        titleES: "Apartamento de una sola habitación",
        titleRU: "Однокомнатная квартира",
        descriptionEN: 'When shooting, I use special techniques to make rooms uniformly illuminated.',
        descriptionES: 'Durante la toma uso técnicas especiales para que las piezas sobre las fotos resulten alumbrados uniformemente.',
        descriptionRU: 'При съемке я использую специальные приемы, чтобы комнаты на фотографиях получались равномерно освещенными.',
        imagesize: '2500x1667',
        images: [ 'flat6-1.jpg', 'flat6-4.jpg', 'flat6-5.jpg', 'flat6-2.jpg',  'flat6-3.jpg', 'flat6-9.jpg',  'flat6-10.jpg',  'flat6-12.jpg', 'flat6-6.jpg', 'flat6-11.jpg',       'flat6-8.jpg' ]
    },
    {   number: "07.",
        titleEN: "One-room flat",
        titleES: "Apartamento de una sola habitación",
        titleRU: "Однокомнатная квартира",
        descriptionEN: "You don't have to wait for weeks to get ready beautiful pictures of the apartment. You receive it in 1 or 3 days.",
        descriptionES: 'Ustedes no tienen que esperar durante muchas semanas las fotos acabadas. ¡Ustedes podrán recibir bellas imágenes fotográficas ya dentro de 1 - 3 días!',
        descriptionRU: 'Вам не нужно неделями ждать готовых фотографий. Красивые снимки своей квартиры вы получите уже через 1-3 дня!',
        imagesize: '2500x1667',
        images: [ 'flat7-1.jpg', 'flat7-2.jpg', 'flat7-3.jpg', 'flat7-4.jpg', 'flat7-5.jpg', 'flat7-6.jpg',   'flat7-8.jpg','flat7-9.jpg','flat7-10.jpg',  'flat7-11.jpg',  'flat7-12.jpg'  ]
    },
    {   number: "08.",
        titleEN: "Flat",
        titleES: "Apartamento",
        titleRU: "Квартира",
        descriptionEN: 'Sometimes we can make the sun work for us. If there is a beautiful light in the apartment, we use it!',
        descriptionES: 'A veces se puede hacer el sol trabajar para nosotros. ¡Si en una pieza hay bella luz nos aprovecharemos de eso!',
        descriptionRU: 'Иногда можно заставить солнце работать на нас. Если в квартире бывает красивый свет, мы воспользуемся этим!',
        imagesize: '2500x1667',
        images: [ ]
    },
    {   number: "09.",
        titleEN: "Photo studio",
        titleES: "Еstudio fotográfico",
        titleRU: "Фотостудия",
        descriptionEN: 'Perfect image made up of many little things. So I carefully process each frame.',
        descriptionES: 'Una imagen bella se compone de muchas pequeñas cosas. Por eso escrupulosamente hago procesamiento de cada imagen.',
        descriptionRU: 'Красивая картинка складывается из множества мелочей. Поэтому я тщательно обрабатываю каждый кадр.',
        imagesize: '2500x1406',
        images: [ 'flat10-1.jpg', 'flat10-2.jpg', 'flat10-3.jpg', ]
    },
    {   number: "10.",
        titleEN: "Flat",
        titleES: "Apartamento",
        titleRU: "Квартира",
        descriptionEN: 'I love taking pictures of rooms and interiors! This is a special art. All these lines and geometry, light and shadow, space and air, modern design and comfort of home! It is so exciting!',
        descriptionES: '¡Me gusta mucho tomar las fotos de las piezas! Es un arte especial. Las líneas y geometría, luz y sombra, espacio y aire, soluciones de diseño ambiental y confort de casa. ¡Esto es muy interesante!',
        descriptionRU: 'Я люблю фотографировать помещения! Это особое искусство. Линии и геометрия, свет и тень, пространство и воздух, дизайнерские решения и домашний уют. Это очень интересно!',
        imagesize: '2500x1667',
        images: [  ]
    }

    ];