-
    var flatList = [
    {   number: "01.",
        descriptionEN: 'Viewing the photos that I took, it is easy to imagine what the whole apartment looks like.',
        descriptionES: 'Contemplando las imágenes fotográficas que yo tomé es fácil imaginarse que aspecto tiene una pieza íntegramente.',
        descriptionRU: 'Глядя на фотографии, сделанные мной, легко представить, как выглядит вся квартира.',
        imagesize: '1920x1280',
        titleEN: "Studio apartment",
        titleES: "Estudio con una habitación",
        titleRU: "Двухкомнатная студия",
        images: ['sants01.jpg',  'sants02.jpg', 'sants03.jpg', 'sants04.jpg', 'sants05.jpg', 'sants06.jpg',  'sants07.jpg', 'sants08.jpg', 'sants09.jpg','sants10.jpg',  'sants12.jpg',  'sants11.jpg' ]
    },
    {   number: "02.",
        descriptionEN: 'I do the optimal number of photos for each room. At the same time, your wishes are all taken into consideration.',
        descriptionES: 'Hago las fotos de cada pieza en cantidad más apropiada. Al mismo tiempo sus deseos obligatoriamente serán tomados en cuenta.',
        descriptionRU: "Я делаю оптимальное количество фотографий для каждого помещения. При этом ваши пожелания обязательно будут учтены.",
        imagesize: '1920x1280',

        titleEN: "Two-room flat",
        titleES: "Piso de un dormitorio y un salón",
        titleRU: "Двухкомнатная квартира",
        images: [ 'flat7-1.jpg', 'flat7-2.jpg', 'flat7-18.jpg',  'flat7-3.jpg',  'flat7-16.jpg',  'flat7-5.jpg', 'flat7-4.jpg', 'flat7-17.jpg', 'flat7-6.jpg',   'flat7-8.jpg', 'flat7-7.jpg', 'flat7-9.jpg','flat7-10.jpg',  'flat7-11.jpg',  'flat7-12.jpg',  'flat7-13.jpg',  'flat7-14.jpg',  'flat7-15.jpg'  ]

    },
    {   number: "03.",
        descriptionEN: 'You receive high-quality and detailed images. You can easily check by clicking on the photo and increasing it.',
        descriptionES: 'Vosotros podréis haber las imágenes fotográficas detalladas de alta calidad. Es muy fácil convencerse en eso clickeando la imagen fotográfica y aumentando la misma.',
        descriptionRU: "Вы получите качественные и детализированные снимки. В этом легко убедиться, нажав на фото и увеличив его.",
        imagesize: '1920x1280',

        titleEN: "Two-room flat",
        titleES: "Piso de un dormitorio y un salón",
        titleRU: "Двухкомнатная квартира",
        images: [ 'redman01.jpg', 'redman02.jpg', 'redman03.jpg', 'redman04.jpg', 'redman05.jpg', 'redman06.jpg', 'redman07.jpg', 'redman08.jpg', 'redman09.jpg', 'redman10.jpg', 'redman11.jpg', 'redman12.jpg', 'redman13.jpg', 'redman14.jpg', 'redman15.jpg', 'redman16.jpg', 'redman17.jpg', 'redman18.jpg', 'redman19.jpg', 'redman20.jpg', 'redman21.jpg' ]
    },
    {   number: "04.",
        descriptionEN: 'I have all necessary equipment to take pictures of a room from the most proper angles for it.',
        descriptionES: 'Tengo todo el equipo necesario par tomar fotos desde los mas apropiados ángulos ventajosos para par la pieza.',
        descriptionRU: "У меня есть все необходимое оборудование для того, чтобы фотографировать помещение с самых правильных для него ракурсов.",
        imagesize: '1920x1280',
        imagesize: '1920x1280',

        titleEN: "One-room flat",
        titleES: "Apartamento de una sola habitación",
        titleRU: "Однокомнатная квартира",
        images: ['flat1-4.jpg', 'flat1-2.jpg', 'flat1-5.jpg', 'flat1-1.jpg', 'flat1-9.jpg',  'flat1-3.jpg', 'flat1-6.jpg', 'flat1-7.jpg', 'flat1-8.jpg' ]


    },
    {   number: "05.",
        descriptionEN: 'It is a pleasure to look at a room which is clean and in order, so I give tips how to prepare the apartment for shooting.',
        descriptionES: 'Hago en modo que en la imagen haya lo menos posible cosas excedentes. Es más agradable contemplar el “orden”.',
        descriptionRU: 'Я делаю так, чтобы в кадре находилось как можно меньше лишних вещей. На "порядок" смотреть приятнее.',
        imagesize: '1920x1280',

        titleEN: "Three-room flat",
        titleES: "Piso de dos dormitorios y un salón",
        titleRU: "Трехкомнатная квартира",
        images: ['BilboaAtico01.jpg', 'BilboaAtico02.jpg', 'BilboaAtico03.jpg', 'BilboaAtico04.jpg', 'BilboaAtico05.jpg', 'BilboaAtico06.jpg', 'BilboaAtico07.jpg', 'BilboaAtico08.jpg',  'BilboaAtico09.jpg',  'BilboaAtico10.jpg' ]
    },
    {   number: "06.",
        descriptionEN: 'When shooting, I use special techniques to make rooms uniformly illuminated.',
        descriptionES: 'Durante la toma uso técnicas especiales para que las piezas sobre las fotos resulten alumbrados uniformemente.',
        descriptionRU: 'При съемке я использую специальные приемы, чтобы комнаты на фотографиях получались равномерно освещенными.',
        imagesize: '1920x1280',
        titleEN: "Two-room flat",
        titleES: "Piso de un dormitorio y un salón",
        titleRU: "Двухкомнатная квартира",
        images: [ 'flat2-2.jpg', 'flat2-3.jpg', 'flat2-4.jpg', 'flat2-5.jpg', 'flat2-6.jpg', 'flat2-7.jpg', 'flat2-8.jpg','flat2-10.jpg','flat2-9.jpg',  'flat2-1.jpg', 'flat2-11.jpg', 'flat2-12.jpg' ]

    },
    {   number: "07.",
        descriptionEN: "You don't have to wait for weeks to get ready beautiful pictures of the apartment. You receive it in 1 or 3 days.",
        descriptionES: 'Ustedes no tienen que esperar durante muchas semanas las fotos acabadas. ¡Ustedes podrán recibir bellas imágenes fotográficas ya dentro de 1 - 3 días!',
        descriptionRU: 'Вам не нужно неделями ждать готовых фотографий. Красивые снимки своей квартиры вы получите уже через 1-3 дня!',
        imagesize: '1920x1280',

        titleEN: "Two-room flat",
        titleES: "Piso de un dormitorio y un salón",
        titleRU: "Двухкомнатная квартира",
        images: ['Joaquim01.jpg', 'Joaquim02.jpg', 'Joaquim03.jpg', 'Joaquim04.jpg', 'Joaquim05.jpg', 'Joaquim06.jpg', 'Joaquim07.jpg', 'Joaquim08.jpg', 'Joaquim09.jpg' ]


    },
    {   number: "08.",
        descriptionEN: 'Sometimes we can make the sun work for us. If there is a beautiful light in the apartment, we use it!',
        descriptionES: 'A veces se puede hacer el sol trabajar para nosotros. ¡Si en una pieza hay bella luz nos aprovecharemos de eso!',
        descriptionRU: 'Иногда можно заставить солнце работать на нас. Если в квартире бывает красивый свет, мы воспользуемся этим!',
        imagesize: '1920x1280',

        titleEN: "The sunlight",
        titleES: "La luz del sol",
        titleRU: "Солнечный свет",
        images: [  'flat8-3.jpg', 'flat8-4.jpg', 'flat8-5.jpg', 'flat8-1.jpg','flat8-2.jpg',]
    },
    {   number: "09.",
        descriptionEN: 'Perfect image made up of many little things. So I carefully process each frame.',
        descriptionES: 'Una imagen bella se compone de muchas pequeñas cosas. Por eso escrupulosamente hago procesamiento de cada imagen.',
        descriptionRU: 'Красивая картинка складывается из множества мелочей. Поэтому я тщательно обрабатываю каждый кадр.',
        imagesize: '1920x1080',

        titleEN: "Photo studio",
        titleES: "Еstudio fotográfico",
        titleRU: "Фотостудия",
        images: [ 'flat9-1.jpg', 'flat9-2.jpg', 'flat9-3.jpg', ]
    },
    {   number: "10.",
        titleEN: "",
        titleES: "",
        titleRU: "",
        descriptionEN: 'I love my work! This is a special art. All these lines and geometry, light and shadow, space and air, modern design and comfort of home! It is so exciting!',
        descriptionES: '¡Me gusta mucho mi trabajo! Es un arte especial. Las líneas y geometría, luz y sombra, espacio y aire, soluciones de diseño ambiental y confort de casa. ¡Esto es muy interesante!',
        descriptionRU: 'Я люблю свою работу! Это особое искусство. Линии и геометрия, свет и тень, пространство и воздух, дизайнерские решения и домашний уют. Это очень интересно!',
        imagesize: '1920x1280',
        images: [  'flat10-4.jpg', 'flat10-2.jpg', 'flat10-3.jpg',  'flat10-1.jpg', 'flat10-5.jpg', 'flat10-6.jpg', 'flat10-8.jpg','flat10-9.jpg','flat10-10.jpg', 'flat10-13.jpg' ]
    }

    ];