extends ../main

block content
    .main
        a(href="flats.html").main__item.main__item-photo
            .main__itemTitle Фото
            img(src="img/flats/thumbnails/flat1-4.jpg", alt="").main__itemContent
            img(src="img/flats/thumbnails/flat2-4.jpg", alt="").main__itemContent
            img(src="img/flats/thumbnails/flat3-4.jpg", alt="").main__itemContent
            img(src="img/flats/thumbnails/flat4-4.jpg", alt="").main__itemContent
            img(src="img/flats/thumbnails/flat5-3.jpg", alt="").main__itemContent



        a(href="").main__item.main__item-video
            .main__itemTitle Видео
            img(src="img/video/thumbnails/video1.jpg", alt="").main__itemContent
            img(src="img/video/thumbnails/video4.jpg", alt="").main__itemContent
            img(src="img/video/thumbnails/video3.jpg", alt="").main__itemContent
            img(src="img/video/thumbnails/video2.jpg", alt="").main__itemContent
            img(src="img/video/thumbnails/video5.jpg", alt="").main__itemContent


        a(href="").main__item.main__item-web
            .main__itemTitle Web
            img(src="img/web/thumbnails/web1.jpg", alt="").main__itemContent
            img(src="img/web/thumbnails/web2.jpg", alt="").main__itemContent
            img(src="img/web/thumbnails/web3.jpg", alt="").main__itemContent
            img(src="img/web/thumbnails/web4.jpg", alt="").main__itemContent
            img(src="img/web/thumbnails/web5.jpg", alt="").main__itemContent
            img(src="img/web/thumbnails/web1.jpg", alt="").main__itemContent