extends ../main

block content
    .slider-container
        .slider-control.left.inactive
        .slider-control.right
        ul.slider-pagi
        .slider
            .slide.slide-0.active
                .slide__bg
                    .slide__text
                        h2.slide__text-heading Однокомнатная квартира
                        //- p.slide__text-desc
                        //-     | Flat designed in warm shades with big living room and bright kitchen.
                        a.slide__text-link(href="flats.html") Все фото
            .slide.slide-1
                .slide__bg
                    .slide__text
                        h2.slide__text-heading Двухкомнатная квартира
                        a.slide__text-link(href="flats.html") Все фото
            .slide.slide-2
                .slide__bg
                    .slide__text
                        h2.slide__text-heading Однокомнатная студия
                        a.slide__text-link(href="flats.html") Все фото
            .slide.slide-3
                .slide__bg
                    .slide__text
                        h2.slide__text-heading Однокомнатная студия
                        a.slide__text-link(href="flats.html") Все фото
            .slide.slide-4
                .slide__bg
                    .slide__text
                        h2.slide__text-heading Двухкомнатная квартира
                        a.slide__text-link(href="flats.html") Все фото