extends ../main

block content
    .slider-container
        .slider-control.left.inactive
        .slider-control.right
        ul.slider-pagi
        .slider
            .slide.slide-0.active
                .slide__bg
                .slide__content

                    .slide__text
                        h2.slide__text-heading Однокомнатная квартира в г.Кемерово
                        //- p.slide__text-desc
                        //-     | Flat designed in warm shades with big living room and bright kitchen.
                        a.slide__text-link Подробнее
            .slide.slide-1
                .slide__bg
                 .slide__content
                    svg.slide__overlay(viewbox='0 0 720 405', preserveaspectratio='xMaxYMax slice')
                        path.slide__overlay-path(d='M0,0 150,0 500,405 0,405')
                    .slide__text
                        h2.slide__text-heading  Двухкомнатная квартира в г.Кемерово

                        a.slide__text-link Подробнее
            .slide.slide-2
                .slide__bg
                .slide__content
                    svg.slide__overlay(viewbox='0 0 720 405', preserveaspectratio='xMaxYMax slice')
                        path.slide__overlay-path(d='M0,0 150,0 500,405 0,405')
                    .slide__text
                        h2.slide__text-heading Однокомнатная студия в г.Кемерово

                        a.slide__text-link Подробнее
            .slide.slide-3
                .slide__bg
                .slide__content
                    svg.slide__overlay(viewbox='0 0 720 405', preserveaspectratio='xMaxYMax slice')
                        path.slide__overlay-path(d='M0,0 150,0 500,405 0,405')
                    .slide__text
                        h2.slide__text-heading Однокомнатная студия на о.Тенерифе

                        a.slide__text-link Подробнее
            .slide.slide-4
                .slide__bg
                .slide__content
                    svg.slide__overlay(viewbox='0 0 720 405', preserveaspectratio='xMaxYMax slice')
                        path.slide__overlay-path(d='M0,0 150,0 500,405 0,405')
                    .slide__text
                        h2.slide__text-heading Двухкомнатная квартира в г.Кемерово

                        a.slide__text-link Подробнее